@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-image {
    background: linear-gradient(180deg, rgba(0, 16, 32, 0) 50%,
            rgba(0, 16, 32, .56) 70%,
            rgba(0, 16, 32, .76) 80%,
            rgba(0, 16, 32, .9) 90%, rgb(0, 16, 32)),
        linear-gradient(90deg, rgba(0, 16, 32, 0),
            rgba(0, 16, 32, 0) 50%,
            rgba(0, 16, 32, .5) 75%, rgb(0, 16, 32)),

        url('/assets/images/sections/hero2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}