@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-image {
    background: linear-gradient(180deg, rgba(0, 16, 32, 0) 50%,
            rgba(0, 16, 32, .56) 70%,
            rgba(0, 16, 32, .76) 80%,
            rgba(0, 16, 32, .9) 90%, rgb(0, 16, 32)),
        linear-gradient(90deg, rgba(0, 16, 32, 0),
            rgba(0, 16, 32, 0) 50%,
            rgba(0, 16, 32, .5) 75%, rgb(0, 16, 32)),

        url('/assets/images/sections/hero2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}



/* Hero Slide Animation */
.slider1{
    animation: slideAnimation 4s linear infinite;
}
.slider2{
    animation: slideAnimation 6s linear infinite;
}
.slider3{
    animation: slideAnimation 8s linear infinite;
}

.slider1:hover, .slider2:hover, .slider3:hover {
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes slideAnimation {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-250px*1));
    }
}
/* Hero Slide Animation */